<li>
	<div class="row">
		<div class="span3">
			<span class="temperature">
				<strong><%= cup.bean %></strong>
			</span>
			<span class="temperature">
				<% time = cup.created_at.in_time_zone('Pacific Time (US & Canada)') %>
				<% timestring = "" %>
				<% if time.hour > 12 %>
					<% hour = time.hour - 12 %>
					<% timestring += hour.to_s + ":" %>
					<% if time.min < 10 %>
						<% timestring += "0" + time.min.to_s + " p.m." %>
					<% else %>
						<% timestring += time.min.to_s + " p.m." %>
					<% end %>
				<% else %>
					<% timestring += time.hour.to_s + ":" %>
					<% if time.min < 10 %>
						<% timestring += "0" + time.min.to_s + " a.m." %>
					<% else %>
						<% timestring += time.min.to_s + " a.m." %>
					<% end %>
				<% end %>
				<% timestring += " on " + time.month.to_s+"/"+time.day.to_s+" " %>
				<strong><%= timestring %></strong>
			</span>
			<span class="temperature">Temperature: <%= cup.temperature %></span>
			<span class="temperature">Duration: <%= cup.duration %></span>
		</div>
		<div class="span5">
			<div>
				<% @cup = Cup.find(cup.id) %>
				<% if @cup.comments.any? %>
					<% @comments = @cup.comments %>
					<%= render @comments %>
				<% end %>
      			<%= render 'shared/comment_form' %>
			</div>
		</div>
	</div>
</li>